header {
  display: flex;
  justify-content: space-between;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  background-image: url(/media/C.jpg);
  background-size: 100%;
  background-color: #cccccc;
  height: 79vh;
}

nav {
  background-color: yellow;
}

header, footer {
  background-color: blue;
  height: 10vh;
}

footer {

  position:fixed;
  bottom:0;
  left:0;
}

.listing {

}
